.itemcarrito {
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-style: solid !important;
    border-color: rgb(41, 41, 41);
    border: 1px;
    border-radius: 0.2rem;
    width: 70%;
}

.itemcarritofotofoto {
    height: 10rem;
   
}

.sumaresta {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.botonmasmenos {
    background-color: $naranja;
	border-style: none;
	border-radius: 1px;
	width: 1.5rem;
    height: 1.5rem;
	margin-left: 1%;
    text-align: center;
    align-items: center;
    margin: 1rem;
}

